body{
  background: url(manutd.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hero{
  color: #fff;
  margin-top: 10%;
  text-align: center;
  font-size: 75px;
  letter-spacing: -.05em;
  line-height: 1.25em;
  font-family: 'Revalia', cursive;
}

.ima{
  height: 100px;
  width: 200px;
}
